.swiper-container-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet {
	background: #ffba08;
}

.swiper-button-next {
	color: #ffba08 !important;
	margin-right: 25px;
}

.swiper-button-prev {
	color: #ffba08 !important;
	margin-left: 25px;
}
